{% extends "layout.html" %}
{% block content %}
<div class="container margin-top">
    <div style="text-align:center">
        <p>This bloggin engine is created using Flask.</p>
        <p>For More info contact me on following link </p>
        <div id="follow">
            <h2 class="show">Follow me at</h2>
            <div id="icons">
                <a href="https://www.linkedin.com/in/nikhilprabhakar14/">
                    <img src="../static/assets/linkedin.png">
                </a>
                <a href="https://www.facebook.com/nikhil.prabhakar.16">
                    <img src="../static/assets/facebook.png">
                </a>
                <a href="mailto:prabhakarnikhil14@gmail.com">
                    <img src="../static/assets/google.png">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}