.para {
    display: inline-block;
    font-size: 20px;
    font-family: fantasy;
}

.blockquote {
    border-left: 5px solid gray;
    padding-left: 35px;
    background-color: blanchedalmond;
    color: black;
    padding: 10px;
}

.margin-top {
    margin-top: 35px;
}

.my-asides {
    margin-top: 35px;
    height: 250px;
    display: inline-block;
    background-color: blanchedalmond;
    padding: 30px;
    line-height: 1.6;
}


.content-section button {
    width: 100%;
    padding: 10px 5px;
    background-color: #343a40;
    color: white;   
    border: none;
}

.search-button{
    width: 100%;
    padding: 10px 5px;
    background-color: #343a40;
    color: white;   
    border: none;
}

.my-forms {
    width: 50%;
    margin-top: 45px;
    margin-left: 15%;
}

.account-img {
    width: 100px;
    height: 100px;
    margin: 0px 20px;
}
.post-image{
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px 20px 0px 0px;
}
.media {
    background-color: white;
    border: 2px solid lightgray;
    padding: 10px;
}

.default-background {
    background-color: #fafaf3;
}

.blockquote-footer {
    text-align: right;
}

.small {
    font-size: 14px;
}

.post-title{
    font-size: 25px;
}

.post-content{
    font-size: 20px;
}
.update-delete-btn{
    display: inline-block;
    position: relative;
    left: 57.5%;
}
#icons{
    display: flex;
    justify-content: center;
}
#icons img{
    height: 50px;
    width: 50px;
    margin: 25px;
}
.inside-aside{
    width: 100%;
    margin: 25px 0;
}
.down-icon{
    float: right;
}

.download-button{
    border: none;
    float: right;
    background-color: transparent;
    font-size: 14px;
}